transportation_commons/src/main/resources/request.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parcel">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ids"/>
              <xs:element type="xs:string" name="sender"/>
              <xs:element type="xs:string" name="receiver"/>
              <xs:element type="xs:string" name="job"/>
              <xs:element name="deliveryTime">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="start"/>
                    <xs:element type="xs:string" name="end"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="acceptanceCriteria">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="hardMinTemperature"/>
                    <xs:element type="xs:string" name="hardMaxTemperature"/>
                    <xs:element type="xs:string" name="hardMinHumidity"/>
                    <xs:element type="xs:string" name="hardMaxHumidity"/>
                    <xs:element type="xs:string" name="softMinTemperature"/>
                    <xs:element type="xs:string" name="softMaxTemperature"/>
                    <xs:element type="xs:string" name="maximumTimeOutOfTemperature"/>
                    <xs:element type="xs:string" name="maximumTimeOutOfHumidity"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="predictiveModels">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="candidate" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="id"/>
                          <xs:element type="xs:string" name="withTransportationType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

